.Logo{
    background-color: white;
   
    height: 80%;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    
}

.Logo img{
   
    height: 100%;
    width: 70px;
   
   
    
}
